doctype html
html(lang="en")
    head
        title Example Pureta
        link(href="/css/example.css", rel="stylesheet", type="text/css")
    body
        p Just normal Pug, nothing to see #{secret}
        br
        a(href="https://pugjs.org/api/getting-started.html") Documentation
